<h1><%= @shop.name %></h1>
<table>
  <% @week_openings.each_with_index do |day_openings, index| %>
    <tr class="<%= 'bold' if index == 0 %>">
      <th>
        <%= t('schedule') if index == 0 %>
      </th>
      <td>
        <%= t("day#{(@current_wday + index) % 7}") %>
      </td>
      <td>
        <% if day_openings.size == 0 %>
          <%= t("closed") %>
        <% else %>
          <% day_openings.each_with_index do |day_opening, index| %>
            <% separator = index == day_openings.size - 1 ? '' : ',' %>
            <%= "#{format_range(day_opening)}#{separator}" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to t('back'), shops_path %>
